.container-lg {
  img {
    object-fit: cover;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 0;
    div {
      width: 30%;
    }
    .menuicon {
      color: #222;
      margin-right: 10px;
      background-color: #fff;
      font-size: 25px;
      padding: 2px;
      cursor: pointer;
      border-radius: 5px;
      border: #222 1px solid;
    }
    .menuiconactive {
      cursor: pointer;
      margin-right: 10px;

      font-size: 25px;
      padding: 2px;
      color: #fff;
      background-color: rgba(34, 34, 34, 0.87);
      border-radius: 5px;
    }
    .palka {
      width: 50%;
      height: 0.5px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.363);
    }
    .sort {
      display: flex;
      justify-content: center;
      span {
        font-size: 1rem;
      }
      select {
        width: 50%;
        margin-left: 10px;
        border: none;
        font-size: 1.1rem;
        outline: none;
      }
    }
  }

  .products {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-bottom: 20px;
      margin-right: 30px;
      p {
        font-size: 17px;
        font-weight: 600;
        color: #102a;
        margin: 0;
        margin-bottom: 10px;
      }
      .image {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 175px;
        width: 100%;
        // width: 300px;
        position: relative;
        overflow: hidden;
        transition: 1s;

        &::after {
          content: '';
          background-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.4s;
          width: 100%;
          height: 100%;
        }
        &:hover::after {
          content: '';
          background-color: #0303035a;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.4s;
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .searchIcon {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 40px;
          background: #936a53;
          color: #fff;
          border-radius: 50%;
          padding: 7px;
          cursor: pointer;
          z-index: 1;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        &:hover .searchIcon {
          opacity: 1;
          transition: 0.4s;
        }
      }
      p {
        text-transform: capitalize;
      }
      .addtocard {
        border: 1px solid rgba(0, 0, 0, 0.095);
        // border-radius: 5px;
        border-top: none;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: #ab7a5f;
          font-weight: 500;
        }
        .icon {
          border: none;
          outline: none;
          color: #ab7a5f;
          cursor: pointer;
          font-size: 17px;
          background-color: transparent;
          transform: scale(1);
          transition: 0.5s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .products-line {
    width: 100%;
    .product {
      display: flex;
      // align-items: ;
      width: 100%;
      // justify-content: space-between;
      margin-bottom: 20px;

      .image {
        width: 30%;
        height: 190px;
        margin-right: 30px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
      .product-info {
        width: 60%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        p {
          text-transform: capitalize;
          font-size: 1.5rem;
          line-height: 1rem;
          letter-spacing: 0.1rem;
          font-weight: 700;
          color: #102a42;
        }
        .price {
          color: #b99179;
          font-weight: 500;
          font-size: 17px;
        }
        .desc {
          font-size: 16px;
        }
        div {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          button {
            margin-right: 10px;
            padding: 4px 10px;
            border: none;
            cursor: pointer;
            outline: none;
            background: #ab7a5f;
            border-radius: 5px;
            color: #fff;
          }
        }
      }
    }
  }
}
